<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="portable45-net45+wp8" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="portable45-net45+wp8" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable45-net45+wp8" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable45-net45+wp8" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="portable45-net45+wp8" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="portable45-net45+wp8" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable45-net45+wp8" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="portable45-net45+wp8" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="portable45-net45+wp8" />
  <package id="Xamarin.Forms" version="2.3.2.127" targetFramework="portable45-net45+wp8" />
  <package id="Xamarin.Forms.GoogleMaps" version="1.6.0" targetFramework="portable45-net45+wp8" />
  <package id="ZXing.Net.Mobile" version="2.1.47" targetFramework="portable45-net45+wp8" />
  <package id="ZXing.Net.Mobile.Forms" version="2.1.47" targetFramework="portable45-net45+wp8" />
</packages>